{% extends "layout.html" %}

{% block content %}
    <div class="mineral__container">
        <h1 class="mineral__name">{{ mineral.name }}</h1>
        <div class="mineral__image-bg">
            {% load static %}
            <img class="mineral__image" src="{% static mineral.static_url %}">
            <p class="mineral__caption">{{ mineral.image_caption }}</p>
        </div>
        <div class="mineral__table-container">
            <table class="mineral__table">
                <tr>
                    <td class="mineral__category">Formula</td>
                    {% autoescape off %}
                        <td class="mineral__formula">{{ mineral.formula }}</td>
                    {% endautoescape %}
                </tr>
                {% for field in mineral_form %}
                    <tr>
                        <td class="mineral__category">{{ field.label|title }}</td>
                        <td>{{ field.value }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="mineral__category">Categories</td>
                    <td>{{ mineral.category_names }}</td>
                </tr>
                <tr>
                    <td class="mineral__category">Group</td>
                    <td>{{ mineral.group }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
